.container {
    padding: 3rem;
    color: #368ddd;
    text-align: center;
}

.dots li {
    display: inline-block;
}

/*
.slick-dots li{
    color: #368ddd;
}*/

/*.slick-dots li button {
    color
}*/