.container {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container h2 , .container h4{
    color: #368ddd;
}

.img {
    width: 40%;
    
}

.box {
    width: 50%;
    padding-left: 5rem;
}

.container p {
    color: #606060;
}

.container li {
    color: #606060;
    font-weight: 500;

}

.container button {

}

.box button {
    border: none;
    background-color: #368ddd;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
}