.container {
    display: flex;
    background-color: #6d6d6d;
    color: #ffffff;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container li {
    list-style: none;
    font-size: small;
}

.container div {
    width: 20rem;
}

/*footer*/
.all {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    color: #ffffff;
    background: linear-gradient(to left, #0063a0, #64d9ed);
}


